* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.fa {
    font-size: 40px;
}

.fa-star-o:before {
  content: "\f006";
  color: #5f6368;
}

.fa-star:before {
  content: "\f005";
  color: #d56e0c;
}

.star {
    display: flex;
}
