* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: grid;
    place-items: center;
}

.row {
    display: flex;
}

.cell {
    border: 1px solid;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.red {
    background-color: red;
}